html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


.calculator {
    border: 1px solid;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.calculatorDisplay {
    width: 100%;
    font-size: 3rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    
}

.calculatorKeys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


button {
    height: 64px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
}

.all-clear {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: aliceblue;
}

.null {
    grid-column-start: 1;
    grid-column-end: 3;
}